*{
    margin: 0;
    padding: 0;
}
@media(min-width: 1200px){ /*ecли экрана больше 1200*/
    html{
        font-size: 20px;
    }
}
@media(max-width: 600px){ /*ecли экрана меньше 1200*/
    html{
        font-size: 16px;
    }
}
@media(max-width: 600px) and (min-width:1200px){
    html{
        font-size: 18px;
    }
}

.wrapper{
    background-color: #29252b;
}
.colorWhite{
    color: white;
}
.backgroundGreen{
    background-color: #618967;
    border-radius: 50%;
}
.doJustFlex{
    display: flex;
}
.button{
    width: 6%;
    height: 30px;
    border-radius: 10px;
}
.textSizeHalf{
    font-size: 0.5em;
}
hr{
    color: #504B4A;
}
.wrapper2{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 50px auto;
}
.titleHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 8px; /*change later*/
    margin-top: 4px; /*change later*/
}
.lineVertical{
    border-left: 3px solid #336833;
    background: #618967;
    height: 38px;
    margin-left: 60px;
    /* margin-top: 50px; */
}
.btn{
    background-color: #57865e;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1em;
    width: 25px;
}
.lineHorizantal{
    color:#504B4A;
}