*{
    margin: 0;
    padding: 0;
}
@media(min-width: 1200px){ /*ecли экрана больше 1200*/
    html{
        font-size: 20px;
    }
    .contacts{
      width: 160px;
    }  
    .contactTel, .contactTitle {
      font-size: 0.8rem;
    }
    .contacts2{
      margin-left: 3%;
    }
    .inputHead{
      background-color: #504B4A;
      border: none;
      font-size: 1rem;
      width: 380px;
    }
    
  }
  @media(min-width: 700px) and (max-width:1200px){
    html{
        font-size: 18px;
    }
    .contacts{
      width: 135px;
    } 
    .contactTel, .contactTitle {
      font-size: 0.8rem;
    }
    .contacts2{
      margin-left: 3%;
    }
    .inputHead{
      background-color: #504B4A;
      border: none;
      font-size: 0.8rem;
      width: 260px;
    }
  }
  @media(max-width: 700px){ /*ecли экрана меньше 600*/
    html{
      font-size: 16px;
    }
    .contacts{
    width: 110px;
    } 
    .contactTel, .contactTitle {
      font-size: 0.6rem;
    }
    .contacts2{
      margin-left: 2%;
    }
    .inputHead{
      background-color: #504B4A;
      border: none;
      font-size: 0.8rem;
      width: 200px;
    }
  }

.wrapper{
    background-color: #29252b;
}
.colorWhite{
    color: white;
}
.doJustFlex{
    display: flex;
    align-items: center;
}
.wrapper2{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 50px auto;
}
/* hr{
    color: #504B4A;
} look later  */
.lineHorizantal{
    color:#504B4A;
}

/*Header*/
.btnHead{
    background-color: #618967;
    text-decoration-line: none;
    width: 140px;
    border-radius: 10px;
    border: 1px solid #618967;
    font-size: 0.8rem;
  }
  span.colorBlack{
    color: black;
    width: 22px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    font-size: 0.8rem;
  }

/*MainItems*/
.btnMain{
    background-color: #57865e;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1em;
    width: 25px;
}
.textSizeHalf{
    font-size: 0.5em;
}